/*
 * 重置浏览器样式
 * 
 */
*{
	margin: 0;
	padding: 0;	
	/*设置的盒子的宽度包含padding border*/
	box-sizing: border-box;
}
body{
	/*页面最小尺寸为1200px*/
	min-width: 1200px;
	font-size: 12px;
	color: #333;
	/*border-bottom:1px solid #dddddd;*/
	font-family: "微软雅黑",arial;
}
.content{
	width: 1200px;
	/*左右居中*/
	margin: 0 auto;
}
/*去除列表样式*/
li{
	list-style: none;
}
/*去除下划线*/
a{
	text-decoration: none;
	color: #333;
}

input{
	border: 1px solid #ccc;
}
/*去掉输入框的聚焦边框颜色*/
:focus{
	outline: none;
}
em,i{
	font-style: normal;
}

