
/*产品中心*/
/*APP研发*/
.sup-procenter-section{
	padding: 80px;
	background: url(../img/procenter-background.png);
}
.sup-procenter-section-box{
	background: #fff;
}
.sup-procenter-app{
	margin: 0 auto;
	padding: 30px 40px;
}
.sup-procenter-section .sup-procenter-content{
	width: 100%;
}

/*产品中心公共头部*/
.sup-procenter-section .sup-procenter-top-title{
	color: #00C0FF;
}
.sup-procenter-section .sup-procenter-top-cont{
	padding: 0 4%;
	line-height: 26px;
}
.sup-prom{
	display: none;
}
.sup-prom.on{
	display: block;
}
.sup-procenter-section .sup-procenter-lists li{
	padding: 0 13px;
	margin-bottom: 40px;
	width: 25%;
	display: inline-block;
	float: left;
	font-size: 16px;
}
.sup-procenter-section .sup-procenter-lists li span{
	line-height: 35px;
}
.sup-procenter-section .sup-procenter-lists li img{
	max-width: 100%;
	max-height: 100%;
}
.sup-procenter-section .sup-procenter-page{
	width: 100%;
	/*margin-top: 80px;*/
	text-align: center;
}
.sup-procenter-section .sup-procenter-page span{
	display: inline-block;
	padding: 0 10px;
	font-size: 18px;
	height: 50px;
	line-height: 50px;
	min-width: 50px;
	background: #fff;
	border: 1px solid #ccc;
	text-align: center;
}
.sup-procenter-section .sup-procenter-page span:hover{
	background: #00C0FF;
	color: #fff;
	cursor: pointer;
}
.sup-app-page-num{
	background: #fff;
	color: #000;
}

/*网站建设*/
.sup-procenter-build{
	margin: 0 auto;
	padding: 0 40px;
	background: #fff;
}

/*平面设计*/
.sup-procenter-sign{
	margin: 0 auto;
	padding: 0 40px;
	background: #fff;
}

@media only screen and (max-width: 992px) {
	.sup-procenter-section .sup-procenter-lists li{
		width: 50%;
	}
}
@media only screen and (max-width: 768px) {
	.sup-procenter-section .sup-procenter-lists li{
		width: 100%;
	}
}
